/*booking.html styles*/
.booking__container {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .booking__main-caption {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-family: "Manrope Bold";
  }
  .booking__wrapper {
    border: 1px solid black;
    border-radius: 25px;
    width: 540px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    padding-top: 0px;
    text-align: center;
  }
  
  .booking__captions {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 24px;
    font-family: "Manrope Bold";
  }
  
  .booking__infos {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  .booking__zones-container {
    display: flex;
  }
  
  .booking__zone {
    padding: 10px;
  }
  
  .booking__dates-container {
    display: flex;
  }
  
  .booking__date {
    padding: 10px;
  }
  
  .booking__tour-price {
    color: #639ad2;
  }
  
  .booking__other-caption {
    text-align: center;
    margin: 0;
    margin-top: 50px;
    font-size: 24px;
    font-family: "Manrope Bold";
    padding-bottom: 30px;
  }
  .booking__adds-wrapper {
    margin: 0 auto;
    width: fit-content;
  }
  .booking__adds-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .booking__adds-check {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .booking__adds-text {
    display: flex;
    align-items: center;
  }
  
  .booking__adds-name {
    padding-left: 20px;
    font-size: 24px;
    font-family: "Manrope Regular";
    font-weight: 400;
  }
  .booking__adds-price {
    padding-left: 20px;
    font-size: 24px;
    font-family: "Manrope Bold";
  }
  
  .booking__comment {
    outline: none;
    width: 540px;
    height: 127px;
    border-radius: 25px;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: none;
    border: 1px solid black;
    font-family: "Manrope Regular";
    font-size: 20px;
    resize: none;
  }
  
  .booking__email {
    outline: none;
    width: 540px;
    height: 60px;
    border-radius: 25px;
    padding-left: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: none;
    border: 1px solid black;
  }
  .booking__final-caption {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    font-family: "Manrope Bold";
    font-size: 36px;
  }
  .booking__final-price {
    color: #639ad2;
  }
  .booking__submit {
    cursor: pointer;
    width: 410px;
    height: 80px;
    border-radius: 25px;
    font-size: 36px;
    font-family: "Manrope Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: none;
    background-color: #639ad2;
    color: white;
  }
  
  .booking__submit:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 33px 2px rgba(99, 154, 210, 0.7);
  }
  /*BookingManage.html slyles*/
  .booking__save-form {
    text-align: center;
  }
  .booking__save {
    cursor: pointer;
    width: 500px;
    height: 80px;
    border-radius: 25px;
    font-size: 36px;
    font-family: "Manrope Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: none;
    background-color: #639ad2;
    color: white;
  }
  .booking__save:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 33px 2px rgba(99, 154, 210, 0.7);
  }